h1
{color:brown;font: size 16px;}
p
{color:darkgreen;text-align:left;font-family:Verdana, Geneva, Tahoma, sans-serif}
table, th, td
{border:1px solid;}
a
{color:hotpink;}
footer
{color:blueviolet;size 10px;}
img
{opacity:0.5;}
img:hover
{opacity:1.0;}


 
  
 